
div#general{
    margin: auto;
    margin-top: 50px;
    width: 960px;
    height: 1300px;
    background-color: #ecd8cc;
}

.cabecera{
    margin: auto;
    margin-top: -50px;
    padding-top: 5px;
    width: 960px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}



div#lateral {
    margin: auto;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 15px;
    float: left;
    width: 300px;
    height: 1200px;
    background-color: white;
    font-style: normal;
}

div#principal {
    margin: auto;
    margin-top: 20px;
    margin-right: 15px;
    padding-left: 5px;
    float: right;
    width: 600px;
    height: 1200px;
    font-style: normal;
}

.titulosh2 {
    background-color: #ffffff; 
    margin-left: 1px;
    padding-left: 25px;
}

div#fotoynombre{
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ecd8cc;
}


.barraNav{
    display: inline-block;
    background: white;
    color: #ecd8cc;
    padding: 10px 23px;
    text-overflow: clip;
    text-decoration: none;
    text-align: center;
}

.barraNav:hover{
    color: black;
}

body{
    font-family: 'Oswald', sans-serif;
}

