
.general{
    margin: auto;
    margin-top: 50px;
    width: 960px;
    height: 1300px;
    background-color: #ecd8cc;
}

.cabecera{
    margin: auto;
    margin-top: -50px;
    padding-top: 5px;
    width: 960px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}



.lateral {
    margin: auto;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 15px;
    float: left;
    width: 300px;
    height: 1200px;
    background-color: white;
    font-style: normal;
}

.principal {
    margin: auto;
    margin-top: 20px;
    margin-right: 15px;
    padding-left: 5px;
    float: right;
    width: 600px;
    height: 1200px;
    font-style: normal;
}

.titulosh2 {
    background-color: #ffffff; 
    margin-left: 1px;
    padding-left: 25px;
}

div#fotoynombre{
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
}


.barraNav{
    display: inline-block;
    background: white;
    color: black;
    padding: 10px 23px;
    text-overflow: clip;
    text-decoration: none;
    text-align: center;
}

.barraNav:hover{
    color: #ecd8cc;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: white;
}


.container-btn-mode{
    position: absolute;
    top:20px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
  }
  .btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid #ecd8cc;
    transition: background-color .5s;
  }
  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }
  .btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
  }
  .btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .active{
    background-color: #ecd8cc;
    color:#ffcd5c !important;
  }

  .dark-mode{
    background-color: #0e0e0e;
    transition:background-color .5s;
  }
  .dark-mode .cabecera, .dark-mode .titulosh2, .dark-mode .barraNav, .dark-mode .general, .dark-mode .lateral, .dark-mode .principal, .dark-mode .btn{
    background-color: #1A1C1E;
  }
  .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode p, .dark-mode li, .dark-mode a{
    color:white;
  }
  .dark-mode .btn-mode{
    background-color:black;
    border:1px solid white;
    color:white;
  }


  #myBtn {
    display: none; 
    position: fixed; 
  }
  
  #myBtn:hover {
    background-color: whitesmoke; 
  }


  .btn {
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: #ecd8cc; 
    color: black;
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: whitesmoke; 
  }